fastapi~=0.115.11
fastapi[standard]
currencyapicom
openai~=1.65.4
pydantic~=2.10.6
SQLAlchemy~=2.0.38
starlette~=0.46.1
psycopg2-binary~=2.9.10
aiogram~=3.18.0
pydantic-settings~=2.8.1
APScheduler~=3.11.0
pytz~=2025.1